.section-scorefactors{
    .rp-coltype-item{
        padding-top: 0;
        padding-bottom: 0;
    }
    .item-col{
        border: 1px solid #E2E8F0;
        border-radius: 4px;
        padding: 16px;
        row-gap: 5px;
        span{
            font-weight: 600;
        }
        label{
            font-weight: 700;
            font-size: 16px;
            display: flex;
            align-items: center;
        }
        .alert{
            padding: 2px 8px;
            font-weight: 600;
            font-size:9px;
            margin-left: 8px;
            margin-bottom: 0;
            letter-spacing: -0.0032em;
        }
    }
}

@media (max-width:767px){
    .section-scorefactors{
        .factors-row{
            overflow: auto;
            padding-bottom: 15px; 
            flex-wrap: nowrap;           
        }
        .rp-coltype-item{
            min-width: 205px;
        }
    }
}