/* header css */
header{
    border-bottom: 0.1rem solid #CBD4E1;
    padding-top:1.5rem;
    padding-bottom:1.5rem;  
}

.navbar-light{
    .navbar-toggler{
        border:0 none;
    }
    .navbar-toggler-icon{
        background-image: url('/images/hamburger.png');
    }
    .navbar-nav{
        .nav-item{
            display: flex;
            align-items: center;
            &:not(.nav-item-btn){
                margin-right:2.5rem;
            }
        }
        .nav-link{
            color:var(--rp-black-dark-clr);
            font-size:clamp(12px,3vw,14px);
            font-weight: 600;            
        }
        .btn{
            font-size:clamp(12px,3vw,13px);
            padding:0.8rem 2.0rem;
            font-weight: 600;
        }
    }
    .dropdown-menu{
        font-size: 1.4rem;
    }
}

@media (max-width:991px){
    header{
        padding-top:1.0rem;
        padding-bottom: 1.0rem;
    }
    .navbar-light{
        .navbar-nav{
            align-items: center;
            background: rgba(0,0,0,0.1);
            padding:1.5rem;
            .nav-item{
                display: block;
                text-align: center;
                width: 100%;
                &:not(.nav-item-btn){                    
                    margin-right: 0;
                }
                &:nth-last-of-type(2){
                    margin-top: 2.0rem;
                    margin-bottom: 1rem;
                }
            }
            .dropdown-menu{
                text-align: center;
                background: rgba(0,0,0,0.1);
                font-size: 1.2rem;
                margin-bottom: 1.5rem;
            }
        }
    }
}